.details-rows{

  height: max-content;
  
  display: flex;
  /*flex-direction: row;*/
 
  gap: 1.4rem;
  width: 100%;
  position: absolute;
  top: 3%;
  left:0%;
  justify-content: center;
  align-items: center;
  z-index: 99;
}

.details-rows .nav-group{

  
height: max-content;
 
  text-align: center;
  width: 150px;
 position: relative;
}
.details-rows  button {
 background: transparent;
  font-size: 13px;
  color: #ffffff;
  border: none;
  text-transform: uppercase;
 font-family: 'Cormorant Garamond';
 letter-spacing: 1px;
 list-style: none;
 font-weight: 300;
 gap:4rem;
}
.lists{
  position:absolute;
  top: 100%;
  margin-top: 1%;
  margin-left:-4%;
  width: 100%;
  
 justify-content: center;
 align-items: center;
  
}



.details-rows ul{
  display: flex;
  flex-direction: column;
 justify-content: center;
 align-items: center;

  gap: 2px;
  list-style: none;


/*margin-top: 5%*/
  width: 110px;
  height: max-content;

}
.details-rows ul li{
  width: 100px;
  height: 35px;
  border:1px solid rgba(255, 255, 255, 0.034);
  background: rgba(0, 0, 0, 0.288);
  backdrop-filter: blur(20px);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  


}
.details-rows ul li a{
  width: 100%;
  height: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #ffffff65;
}
.details-rows ul li a:hover{
  background: rgba(255, 255, 255, 0.055);
}




